md-toast.md-success-toast-theme .md-toast-content{
    background-color: green;
}

md-toast.md-failure-toast-theme .md-toast-content{
    background-color: red;
}

.video-container {
  text-align: center;
}

.md-title{
  color: #ffff;
}

a {
    text-align: center;
}

h3 {
  color: #ff4e00;
  padding-right: 10px;
}

.star {
  margin-top: 10px;
}

md-toast.md-center {
left: 50%;
transform: translate3d(-50%, 0, 0);
}

.md-toolbar-tools img {
  margin-right: 8px;
}

.good {
  color: green;
}

.bad {
  color: red;
}
