md-toast.md-success-toast-theme .md-toast-content{
    background-color: green;
}

.video-container {
  text-align: center;
}

a {
    text-align: center;
}

md-toast.md-center {
left: 50%;
transform: translate3d(-50%, 0, 0);
}

.md-toolbar-tools img {
  margin-right: 8px;
}
